<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=192.168.126.132;Port=3306;Initial Catalog=dapper;uid=root;pwd=root;Pooling=true;MAX Pool Size=256;Min Pool Size=1;"  providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
</configuration>