<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <add name="DefaultConnection" connectionString="Data Source=192.168.126.132;Port=3306;Initial Catalog=dapper;uid=root;pwd=root;Pooling=true;MAX Pool Size=256;Min Pool Size=1;"  providerName="MySql.Data.MySqlClient" />
 </connectionStrings>
